{{#if user}}
<p>Welcome, {{user.username}}!</p>
<h3>Recent Submitted Rides</h3>
<div>
{{#if rides}}
<ul>
{{#each rides}}
<li><a href="http://app.strava.com/activities/{{activity_id}}">{{day}}</a></li>
{{/each}}
</ul>
{{else}}
<p> Could not fetch rides</p>
{{/if}}
</div>

{{/if}}