<div class="row">
  <div class="col-md-3">
    <div class="navbar-collapse collapse">
      <ul class="nav sidebar">
	<li {{#if page.account}} class="active" {{/if}} >     <a href="/settings/account">My Account</a></li>
	<li {{#if page.services}} class="active" {{/if}}>     <a href="/settings/services">Connected Services</a></li>
	<li {{#if page.notifications}} class="active" {{/if}}><a href="/settings/notifications">Notifications</a></li>
	<li {{#if page.display}} class="active" {{/if}}>      <a href="/settings/display">Display Preferences</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    {{#if page.account}}
    {{> settings/account}}
    {{/if}}
    {{#if page.services}}
    {{> settings/services}}
    {{/if}}
    {{#if page.notifications}}
    {{> settings/notifications}}
    {{/if}}
    {{#if page.display}}
    {{> settings/display}}
    {{/if}}
  </div>
</div>
