<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="calendar.css" />

<table>

    <tr id="day-labels">
    <td></td>
    <td class="grid-square">Sun</td>
    <td class="grid-square">Mon</td>
    <td class="grid-square">Tue</td>
    <td class="grid-square">Wed</td>
    <td class="grid-square">Thu</td>
    <td class="grid-square">Fri</td>
    <td class="grid-square">Sat</td>
  </tr>
  <tr id="all-day-events" class="grid-row">
    <td id="timezone-label">GMT-05</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="spacer"></tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">12 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">1 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">2 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">3 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">4 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">5 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">6 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">7 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">8 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">9 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">10 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">11 am</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">12 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">1 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">2 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">3 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">4 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">5 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">6 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">7 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">8 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">9 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start">
    <td rowspan="2" class="slot-label">10 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-start last-slot">
    <td rowspan="2" class="slot-label">11 pm</td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
  <tr class="grid-row hour-end last-slot">
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
    <td class="grid-square"></td>
  </tr>
</table>  
<div id="event-01" class="event">
  TEST
</div>
