<h3>Notifications</h3>
<form method="POST" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Prowl</label>
    <div class="col-sm-9">
      <select class="form-control">
	{{#if user.prowl_enabled}} 
	<option selected="true" name="enable">Enabled</option>
	<option name="disabled">Disabled</option>
	{{else}}
	<option name="enable">Enabled</option>
	<option selected="true" name="disable">Disabled</option>
	{{/if}}
      </select>
    </div>
  </div>
  <button type="submit" class="pull-right btn btn-default">Save</button>
</form>
